* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CSS untuk menambahkan gap antara elemen */
.gap {
    margin-right: 10px; /* Memberikan gap horizontal */
    margin-bottom: 5px; /* Memberikan gap vertikal */
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

#cart-page-container {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    flex-grow: 1; /* Ensures the content grows to push footer down */
}

#cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

h4 {
    font-size: 18px;
    color: #333;
}

span {
    display: block;
    color: #888;
    margin-top: 5px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.remove-btn {
    font-size: 18px;
    color:  #3E8DA8;
    background: transparent;
    border: none;
    cursor: pointer;
}

.remove-btn:hover {
    color:#11495c;
}

#size-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

#size-options input {
    margin-right: 5px;
}

#size-options label {
    font-size: 14px;
    color: #333;
}

#total-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout-btn {
    padding: 12px 25px;
    background-color: #3E8DA8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #11495c;
}
